*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.App{
    text-align: center;
    padding: 20px;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
}

.card{
    max-width: 950px;
    box-shadow: 10px 10px 5px -6px rgba(10,8,8,0.49);
    padding: 10px 20px;
    background-color: white;
}

.card-quotes{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.card-quotes i{
    font-size: 2rem;
}

.card div p{
    margin-left: 8px;
}

.card-last{
    text-align: right;
    margin-top: 1rem;
}

.button{
    margin-top: 0.3rem;
    font-size: 2.0rem;
}

.card button{
    font-size: 18px; 
    width: 50px;
    height: 50px;
    border-radius: 50%; 
    border: none;
}